git+https://github.com/ansible/ansible-sign
hvac
jmespath
ncclient
netaddr
paramiko
pexpect>=4.5
psycopg2-binary
pykerberos
pynetbox
pyOpenSSL
pypsrp[kerberos,credssp]
python-daemon
pytz
pywinrm[kerberos,credssp]
pyyaml
receptorctl
requests-credssp
six
toml
