git+https://github.com/ansible/ansible-sign
ncclient
paramiko
pyOpenSSL
pypsrp[credssp]
pywinrm[credssp]
toml
pexpect>=4.5
python-daemon
pyyaml
six
receptorctl
pywinrm
pynetbox
pytz
requests-credssp
netaddr
jmespath
hvac
psycopg2-binary
